/* Arrows */

.slick-prev:before,
.slick-next:before {
  width: 66px;
  height: 66px;
  content: '' !important;
  position: absolute;
  top: 370px;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-size: 66px;
  opacity: .5;
}

.slick-prev:before{
left: 5em;
background-image: url('../../assets/left.png');
}

.slick-next:before{
right: 5em;
background-image: url('../../assets/right.png');
}

@media only screen and (max-width: 600px) {
  .slick-prev:before,
  .slick-next:before{
    top: 310px;
    height: 30px;
    display: none;
  }
  .slick-prev:before{
    left: 1em;
  }
  .slick-next:before{
    right: 1em;
  }
}