/* Arrows */

/* @media (max-width: 1000px) {
  .slick-next:before{
  width: 66px;
  height: 66px;
  content: '' !important;
  position: absolute;
  top: 360px;
  right: 300px;
  background-image: url('../../assets/right.png');
  background-repeat: no-repeat;
  vertical-align: middle;
  background-size: 66px;
  opacity: .5;
  }

} */

.slick-prev:before{
width: 66px;
height: 66px;
content: '' !important;
position: absolute;
top: 370px;
left: 5em;
background-image: url('../../assets/left.png');
background-repeat: no-repeat;
vertical-align: middle;
background-size: 66px;
opacity: .5;

}

.slick-next:before{
width: 66px;
height: 66px;
content: '' !important;
position: absolute;
top: 370px;
right: 5em;
background-image: url('../../assets/right.png');
background-repeat: no-repeat;
vertical-align: middle;
background-size: 66px;
opacity: .5;
}
