input[type=text] {
    height: 25px;
    width: 240px;
    border:2px solid rgb(225, 225, 225);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=submit] {
    color: #fff;
    /* padding:5px 15px; */
    position: absolute;
    bottom: 1em;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 30px;
	width: 100px;
    /* position: relative; */
	/* margin-bottom: 20px; */
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	color: #fff;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: -3px -3px 5px #fff,  3px 3px 5px #BABECC;
    border-radius: 30px;
    transition: all 0.5s ease-in-out;
    z-index: 15;
}