* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --blue: #6394ff;
  --green: #00c355ce;
  --purple: #6C63FF;
  /* overflow: visible !important; */
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: url(./assets/8.png);
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content-wrapper {
  height: 36em;
}

.slider-wrapper {
  position: relative;
  top: 6%;
  max-height: 700px;
  min-height: 700px;
  max-width: 1000px;
  min-width: 390px;
  margin: 0 auto;
  /* background-color: hsl(0deg 0% 97%); */
  /* border-radius: 0.5rem; */
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
  /* margin: auto; */
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22); */
  /* border: 1px solid red; */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-height: 650px;
  min-height: 650px;
  max-width: 300px;
  min-width: 200px;
  background-color: hsl(0deg 0% 97%);
  border-radius: 0.5rem;
  margin: 2em auto 2em;
  padding-bottom: .5em;
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.card-title {
  margin-top: 10px;
  font-size: 26px;
  font-weight: 600;
}

.card-title, .underline {
  position: relative;
}

.card-title::after {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    right: 0;
    height: 0.75rem;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
}

.underline::after {
    content: '';
    position: absolute;
    bottom: -0.25rem;
    left: 0;
    right: 0;
    height: 0.5rem;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}

.green-h1::after, .green-underline::after {
  background-image: url('./assets/green.svg');
}

.blue-h1::after, .blue-underline::after {
  background-image: url('./assets/blue.svg');
}

.purple-h1::after, .purple-underline::after {
  background-image: url('./assets/purple.svg');
}

.long {
  font-size: 22px;
}

.card-ul {
  padding-left: 8px;
  padding-right: 8px;
  margin: .6em;
  list-style: none;
  border-radius: .5rem;
  background-color: rgb(225, 225, 225);
}

/* Code Block/Inset */

 /* .card-ul{
  background-color: #EBECF0;
  background-color: hsl(0deg 0% 97%);
  background-color: rgb(240, 240, 240);
  background-color: rgb(230, 230, 230);
  background-color: rgb(225, 225, 225);
  box-shadow:  inset 1.5px 2px 1px #BABECC, inset -1.5px -2.5px 1px #BABECC;
  box-shadow:  inset 1.5px 2px 1px #BABECC, inset -1px -2.5px 1px #BABECC;
  box-shadow:  inset 1.5px 2px 1px #BABECC, inset -0px -0px 0px #BABECC;
  box-shadow:  inset 0px 0px 0px #BABECC, inset -1px -2.5px 1px #BABECC;
} */


.card-li {
  font-size: 14px;
  margin: 1em 0;
}

button{
  height: 50px;
	width: 240px;
  position: relative;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 500;
	flex-shrink: 0;
	cursor: pointer;
	/* transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
	--bg-opacity: 1;
	--text-opacity: 1; */
	color: #fff;
	/* border: 1px solid #130b43; */
	/* --border-opacity: 1; */
	/* box-shadow: 0px 2px 7px rgb(54 65 62 / 90%); */
  border: none;
  /* box-shadow: -3px -3px 5px #fff,  3px 3px 5px #BABECC; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
  z-index: 15;

}

button:hover{
  box-shadow: -2px -2px 3px #fff, 2px 2px 3px #BABECC;
}

button:active{
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #fff;
}

.blue-button {
	background: var(--blue);
}

.green-button {
	background: var(--green);
}

.purple-button {
	background: var(--purple);
}

.undraw-pic {
  width: 210px;
}

.flow-pic {
  margin-right: 18px;
  width: 250px;
}

.card-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* form testing */
.z-index-me {
  z-index: 1;
  height: 150px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat {
  width: 40px;
  top: 5px;
  right: 3em;
  position: absolute;
}

.youtube {
  width: 30px;
  position: absolute;
  right: 2.2em;
  top: 9px;
}

.yt {
  padding-right: 2em;
}

.button-wrapper {
  margin-bottom: 20px;
  margin-left: 30px;
}

.speedrun-h4{
  margin-bottom: 2em;
}

.recognize-h4 {
  position: relative;
  top: 1.5em;
}


/* .slider-wrapper{
    border: 1px solid green;
} */