* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow: visible !important; */
}

body {
  margin: 0;
  padding: 0;
  background-image: url(./assets/8.png);
  /* font-family: 'Helvetica Neue', Arial,  sans-serif; */
  /* font-family: 'Asap Condensed', sans-serif; */
  font-family: 'Mulish', sans-serif;
  /* font-family: 'Source Code Pro', monospace; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content-wrapper {
  height: 36em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}

.slider-wrapper {
  position: relative;
  top: 10%;
  max-height: 650px;
  min-height: 650px;
  max-width: 300px;
  min-width: 200px;
  background-color: hsl(0deg 0% 97%);
  /* background-color: #EBECF0; */
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);

}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 650px;
}

.pomo-svg {
  width:210px;
}

h1 {
  position: relative;
  font-size: 26px;
}

.pomo-test {
  margin-top: 10px;
}

h1::after {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    right: 0;
    height: 0.75rem;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}

.green-h1::after {
  background-image: url('./assets/green.svg');
}

.blue-h1::after {
  background-image: url('./assets/blue.svg');
}

.yellow-h1::after {
  background-image: url('./assets/yellow.svg');
}

.card-ul {
  padding-left: 8px;
  margin: 0 1em;
  list-style: none;
  background-color: #EBECF0;
  box-shadow:  inset 1.5px 1.5px 1px #BABECC, inset -1.5px -1.5px 1px #BABECC;
  border-radius: 16px;

}

.card-li {
  font-size: 14px;
  margin: 1em 0;
}

.button-pomo {
	height: 50px;
	width: 240px;
  position: relative;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 500;
	flex-shrink: 0;
	cursor: pointer;
	/* transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
	--bg-opacity: 1;
	--text-opacity: 1; */
	background: #48e5c3be;
	color: #fff;
	/* border: 1px solid #130b43; */
	/* --border-opacity: 1; */
	/* box-shadow: 0px 2px 7px rgb(54 65 62 / 90%); */
  border: none;
  /* box-shadow: -3px -3px 5px #fff,  3px 3px 5px #BABECC; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  transition: all 0.5s ease-in-out;

}

.button-pomo:hover{
  box-shadow: -2px -2px 3px #fff, 2px 2px 3px #BABECC;
}

.button-pomo:active{
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #fff;
}

.flow-pic {
  width: 250px;
}

.inspiration-pic {
  width: 250px;
}