* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* box-sizing: content-box; */
  /* overflow: visible !important; */
}


body {
  margin: 0;
  padding: 0;
  background-image: url(./assets/8.png);
  /* font-family: 'Helvetica Neue', Arial,  sans-serif; */
  /* font-family: 'Asap Condensed', sans-serif; */
  font-family: 'Mulish', sans-serif;
  /* font-family: 'Source Code Pro', monospace; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.content-wrapper {
  height: 36em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}

.wrapper {
  position: relative;
  top: 10%;
  max-height: 650px;
  min-height: 650px;
  max-width: 300px;
  min-width: 200px;
  /* background-color: slategray; */
  background-color: hsl(0deg 0% 97%);
  border-radius: 0.3125rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: auto;

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);

}

/* .page {
  border: 2px solid yellow;
} */

.svg {
  position: absolute;
  left:-40px;
  top:-150px;
  width:300px;
  height:300px;
  /* margin: auto; */
  /* float: right; */
  /* margin: 10px; */
  /* z-index: 60; */
}
