* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: 'Helvetica Neue', Arial,  sans-serif; */
  /* font-family: 'Asap Condensed', sans-serif; */
  font-family: 'Mulish', sans-serif;
  /* font-family: 'Source Code Pro', monospace; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* .container {
    display: flex;
    height: 90vh;
    width: 100%;
    border: 2px solid red;
} */