* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --blue: #6394ff;
  --green: #00C354;
  --yellow: #ffce63;
  /* overflow: visible !important; */
}


body {
  margin: 0;
  padding: 0;
  background-image: url(./assets/8.png);
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content-wrapper {
  height: 36em;
}

.slider-wrapper {
  position: relative;
  top: 10%;
  max-height: 650px;
  min-height: 650px;
  max-width: 300px;
  min-width: 200px;
  background-color: hsl(0deg 0% 97%);
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
  /* background-color: rgb(240, 240, 240); */
  /* background-color: #EBECF0; */

}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 650px;
}

.pomo-svg {
  width:210px;
}

h1 {
  margin-top: 10px;
  position: relative;
  font-size: 26px;
  font-weight: 600;
}

h1::after {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    right: 0;
    height: 0.75rem;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}

.green-h1::after {
  background-image: url('./assets/green.svg');
}

.blue-h1::after {
  background-image: url('./assets/blue.svg');
}

.yellow-h1::after {
  background-image: url('./assets/yellow.svg');
}

.long {
  font-size: 22px;
}

.card-ul {
  padding-left: 8px;
  margin: 0 1em;
  list-style: none;
  border-radius: 16px;
  /* background-color: #EBECF0; */
  /* background-color: hsl(0deg 0% 97%); */
  /* box-shadow:  inset 1.5px 2px 1px #BABECC, inset -0px -0px 0px #BABECC; */
  /* box-shadow:  inset 1.5px 2px 1px #BABECC, inset -1.5px -2.5px 1px #BABECC; */
  /* box-shadow:  inset 0px 0px 0px #BABECC, inset -1px -2.5px 1px #BABECC; */

}

.card-li {
  font-size: 14px;
  margin: 1em 0;
}

button{
  height: 50px;
	width: 240px;
  position: relative;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 500;
	flex-shrink: 0;
	cursor: pointer;
	/* transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
	--bg-opacity: 1;
	--text-opacity: 1; */
	color: #fff;
	/* border: 1px solid #130b43; */
	/* --border-opacity: 1; */
	/* box-shadow: 0px 2px 7px rgb(54 65 62 / 90%); */
  border: none;
  /* box-shadow: -3px -3px 5px #fff,  3px 3px 5px #BABECC; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  transition: all 0.5s ease-in-out;

}

button:hover{
  box-shadow: -2px -2px 3px #fff, 2px 2px 3px #BABECC;
}

button:active{
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #fff;
}

.blue-button {
	background: var(--blue);
}

.green-button {
	background: var(--green);
}

.yellow-button {
	background: var(--yellow);
}


.PIC-pic {
  width: 210px;
}